<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventbrite</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">

</head>
<body>
  <p>Grosse banière</p>

  <div class="jumbotron" style="background-image: url(https://images.pexels.com/photos/1190297/pexels-photo-1190297.jpeg?cs=srgb&dl=people-having-a-concert-1190297.jpg&fm=jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;">

    <div class="container text-center center">
        <h1 class="display-2 font-size-48--md-down text-white mb-0">Titre de la page</h1>
    </div>
  </div>


  <p>Petite bannière</p>

  <div class="jumbotron jumbotron-fluid" 
    style="background-image: url(https://images.pexels.com/photos/2834632/pexels-photo-2834632.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;">
    <div class="container text-center">
        <h1 class="display-2 font-size-48--md-down text-white mb-0">Titre de la page</h1>
        <p class="lead">Infos sur la page</p>
    </div>
  </div> 

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>